<section class="section bg-gray-200" id="about">
  <div class="container text-center">
    <h2 class="mb-3 text-4xl">{{sections.about.title}}</h2>
    <p class="text-xl mb-12">
      {{sections.about.subTitle}}
    </p>
    <a class="btn btn-primary p-4" href="#services">{{sections.about.buttonText}}</a>
  </div>
</section>
