<section class="py-16 px-6 bg-gray-200" id="about">
  <div class="container text-center mx-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h2 class="mb-3">{{sections.about.title}}</h2>
        <p class="text-xl mb-10">
          {{sections.about.subTitle}}
        </p>
        <a class="btn btn-primary p-4" href="#services">{{sections.about.buttonText}}</a>
      </div>
    </div>
  </div>
</section>
