<section class="site-banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-6 site-title mb-3 mb-md-0">
        <h3 class="title-text">Welcome to</h3>
        <h1 class="title-text text-uppercase">Rooster World</h1>
        <hr/>
      </div>
      <div class="col-md-6 slideshow-container h-100">
        {% for item in banners %}
          <div class="mySlides faded" id="slide" style="background-image: url('{{ item }}')"></div>
        {% endfor %}

        <div class="nav-dots">
          {% for banner in banners %}
            <span class="dot" id="dot" onclick="changeSlide('{{ forloop.index0 }}')"></span>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>