<section class="callout">
  <div class="overlay"></div>
  <video autoplay="autoplay" loop="loop" muted="muted" playsinline="playsinline">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"/>
  </video>
  <div class="container text-center">
    <div class="d-flex h-100 text-center align-items-center justify-content-center flex-column">
      <h2 class="mx-auto mb-5 text-light">
        We bring you best products!
      </h2>
      <a class="btn btn-primary btn-xl" href="https://shop.rooster-world.com/">Visit our shop!</a>
    </div>
  </div>
</section>