<section class="callout relative pt-0 pb-3/4 overflow-hidden">
  <div class="absolute w-full h-full bg-black z-10 bg-opacity-25 flex flex-col items-center justify-center">
    <h2 class="mx-auto mb-5 text-white text-5xl text-center">
      We bring you best products!
    </h2>
    <a class="btn btn-primary btn-xl" href="https://shop.rooster-world.com/">Visit our shop!</a>
  </div>
  <video autoplay="autoplay" class="absolute top-1/2 left-1/2 min-h-full min-w-full object-cover" loop="loop" muted="muted" playsinline="playsinline">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"/>
  </video>
</section>