<section class="section callout px-0">
  <div class="pb-2/3 md:pb-1/2 lg:pb-2/5 w-full relative flex flex-col items-center justify-center overflow-hidden" style="background: url('/assets/img/pokemon.png') center no-repeat;background-size: cover;">
    <div class="overlay absolute inset-0 flex flex-col items-center justify-center z-10">
      <h2 class="mx-auto mb-8 text-white font-bold text-3xl text-center md:text-5xl lg:text-6xl">
        We bring you best products!
      </h2>
      <a class="px-4 py-2 rounded-sm text-white border-white border-2 hover:bg-white hover:text-gray-600 transition duration-200" href="#portfolio">Explore what we've done</a>
    </div>
    <img alt="bg" class="absolute top-0 left-0 h-full w-full object-cover object-center" src="/assets/img/pokemon.png">
  </div>
</section>