<section class="section overflow-hidden relative" style="height: 40rem;">
  <div class="absolute inset-0 bg-black z-10 bg-opacity-25 flex flex-col items-center justify-center">
    <h2 class="mx-auto mb-8 text-white text-3xl text-center md:text-4xl">
      We bring you best products!
    </h2>
    <a class="btn btn-primary btn-xl" href="#portfolio">Explore what we've done</a>
  </div>
  <video autoplay="autoplay" class="transform absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 min-h-full min-w-full object-cover" loop="loop" muted="muted" playsinline="playsinline">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4"/>
  </video>
</section>