<section class="content-section" id="contact">
  <div class="container">
    <div class="content-section-heading text-center">
      <h2 class="section-heading mb-5">Contact Us</h2>
    </div>

    <form id="contactForm" name="sentMessage" novalidate="novalidate">
      <div class="row align-items-stretch mb-5">
        <div class="col-md-6">
          <div class="form-group">
            <input class="form-control" data-validation-required-message="Please enter your name." id="name" placeholder="Your Name *" required="required" type="text"/>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group">
            <input class="form-control" data-validation-required-message="Please enter your email address." id="email" placeholder="Your Email *" required="required" type="email"/>
            <p class="help-block text-danger"></p>
          </div>
          <div class="form-group mb-md-0">
            <input class="form-control" data-validation-required-message="Please enter your phone number." id="phone" placeholder="Your Phone *" required="required" type="tel"/>
            <p class="help-block text-danger"></p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <textarea class="form-control" data-validation-required-message="Please enter a message." id="message" placeholder="Your Message *" required="required"></textarea>
            <p class="help-block text-danger"></p>
          </div>
        </div>
      </div>
      <div class="text-center">
        <div id="success"></div>
        <button class="btn btn-secondary btn-xl text-uppercase" id="sendMessageButton" type="submit">
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>