<section class="section bg-secondary" id="contact">
  <div class="container mx-auto">
    <h2 class="section-subtitle mb-10 text-white ">Contact Us</h2>
    <form class="w-full" id="contactForm" name="sentMessage" novalidate="novalidate">
      <div class="flex flex-col md:flex-row md:items-stretch mb-10">
        <div class="w-full flex flex-wrap">
          <div class="w-full px-3 mb-3">
            <label>
              <input id="grid-name" placeholder="Your Name *" required="required" type="text">
            </label>
            <p class="text-red-500 text-xs italic hidden">Please fill out this field.</p>
          </div>
          <div class="w-full px-3 mb-3">
            <label>
              <input id="grid-email" placeholder="Your Email *" required="required" type="email">
            </label>
            <p class="text-red-500 text-xs italic hidden">Please fill out this field.</p>
          </div>
          <div class="w-full px-3 mb-3 md:mb-0">
            <label>
              <input id="grid-phone" placeholder="Your Phone *" required="required" type="tel">
            </label>
            <p class="text-red-500 text-xs italic hidden">Please fill out this field.</p>
          </div>
        </div>
        <div class="w-full px-3 flex flex-col">
          <textarea class="flex-1" id="message" placeholder="Your Message *" required="required"></textarea>
          <p class="text-red-500 text-xs italic hidden">Please fill out this field.</p>
        </div>
      </div>

      <div class="text-center">
        <div id="success"></div>
        <button class="btn btn-primary btn-xl text-uppercase" id="sendMessageButton" type="submit">
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>