<section class="section bg-blue-800" id="contact">
  <div class="container mx-auto">
    <h2 class="section-subtitle mb-5 text-white">Contact Us</h2>

    <form class="w-full max-w-lg px-3" id="contactForm" name="sentMessage" novalidate="novalidate">
      <div class="flex flex-wrap -mx-3 mb-6">
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <input id="grid-last-name" placeholder="Your Name *" type="text">
          <p class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <input id="grid-last-name" placeholder="Your Email *" type="email">
          <p class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <input id="grid-last-name" placeholder="Your Phone *" type="tel">
          <p class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
          <textarea class="form-control" data-validation-required-message="Please enter a message." id="message" placeholder="Your Message *" required="required"></textarea>
          <p class="text-red-500 text-xs italic">Please fill out this field.</p>
        </div>
      </div>
      <div class="text-center">
        <div id="success"></div>
        <button class="btn btn-secondary btn-xl text-uppercase" id="sendMessageButton" type="submit">
          Send Message
        </button>
      </div>
    </form>
  </div>
</section>