<section class="content-section" id="portfolio">
  <div class="container">
    <div class="content-section-heading text-center">
      <h3 class="text-secondary mb-0">Portfolio</h3>
      <h2 class="mb-5">Recent Projects</h2>
    </div>
    <div class="row no-gutters">
      {% for item in portfolios %}
        <div class="col-lg-6">
          <a class="portfolio-item" href="{{ item.link.url }}">
            <span class="caption">
              <span class="caption-content">
                <h2>{{ item.name }}</h2>
                <p class="mb-0">
                  {{ item.description }}
                </p>
              </span>
            </span>
            <img class="img-fluid" src="{{ item.image }}" alt=""/>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>