<section class="section" id="portfolio">
  <div class="container">
    <h3 class="section-title">Portfolio</h3>
    <h2 class="section-subtitle">Recent Projects</h2>
    <div class="flex flex-wrap">
      {% for item in portfolios %}
        <a class="portfolio block relative overflow-hidden w-full mb-6 md:w-1/2 md:mb-0" href="{{ item.link.url }}">
          <div class="captain absolute w-full h-full text-white p-4 flex flex-col justify-center items-center z-10 bg-blue-600">
            <h3>{{ item.name }}</h3>
            <p class="mb-0">
              {{ item.description }}
            </p>
          </div>
          <div class="relative pb-2/3">
            <img class="absolute w-full h-full object-cover object-center" src="{{ item.image }}" alt=""/>
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</section>