<section class="section" id="services">
  <div class="container text-white">
    <div class="content-section-heading">
      <div class="text-center text-primary mb-6">
        <svg
          aria-hidden="true"
          data-prefix="fas"
          data-icon="rocket"
          class="inline-block w-12 svg-inline--fa fa-rocket fa-w-16"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 512 512"
        >
          <path
            fill="currentColor"
            d="M505.12 19.094c-1.19-5.532-6.658-11-12.207-12.188C460.716 0 435.507 0 410.407 0 307.175 0 245.27 55.203 199.052 128H94.838c-16.348.016-35.557 11.875-42.887 26.484L2.516 253.297A28.4 28.4 0 000 264a24.009 24.009 0 0024.006 24h103.81l-22.474 22.469c-11.366 11.361-12.996 32.258 0 45.25l50.904 50.906c11.156 11.188 32.156 13.156 45.277 0l22.475-22.469V488a24.009 24.009 0 0024.005 24 28.56 28.56 0 0010.707-2.516l98.729-49.39c14.629-7.297 26.508-26.5 26.508-42.86V312.797C456.544 266.484 511.98 204.39 511.98 101.703c.094-25.203.094-50.406-6.86-82.61zM384.04 168a40 40 0 1140.01-40 40.023 40.023 0 01-40.01 40z"
          />
        </svg>
      </div>
      <h3 class="section-title">Choose your products</h3>
      <p class="section-subtitle">
        From logo design to website designs and developers are ready to complete
        perfect your custom jobs
      </p>
    </div>
    <div class="flex flex-wrap justify-center">
      {% for item in services %}
      <div class="w-full md:w-1/2 mb-10 md:px-4 md:max-w-lg">
        <div class="service-item p-10">
          <div class="text-center mb-4">
            <span class="inline-block rounded-full bg-primary text-white">
              <svg
                aria-hidden="true"
                data-prefix="fas"
                data-icon="cube"
                class="inline-block m-3 w-6 svg-inline--fa fa-cube fa-w-16"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 512 512"
              >
                <path
                  fill="currentColor"
                  d="M239.1 6.3l-208 78c-18.7 7-31.1 25-31.1 45v225.1c0 18.2 10.3 34.8 26.5 42.9l208 104c13.5 6.8 29.4 6.8 42.9 0l208-104c16.3-8.1 26.5-24.8 26.5-42.9V129.3c0-20-12.4-37.9-31.1-44.9l-208-78C262 2.2 250 2.2 239.1 6.3zM256 68.4l192 72v1.1l-192 78-192-78v-1.1l192-72zm32 356V275.5l160-65v133.9l-160 80z"
                />
              </svg>
            </span>
          </div>
          <h4
            class="text-xl uppercase font-bold text-secondary text-center mb-2"
          >
            {{ item.name }}
          </h4>
          <p class="text-gray-500 text-center">
            Increase sales by showing true dynamics of your website.
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
