<section class="content-section bg-blue-800" id="services">
  <div class="container mx-auto py-6 px-4 text-white text-center">
    <div class="content-section-heading">
      <h3 class="section-title">Services</h3>
      <h2 class="section-subtitle">What We Offer</h2>
    </div>
    <div class="row">
      {% for item in services %}
        <div class="mb-5">
          <div class="service-item w-1/3 pb-1/3 relative rounded-full overflow-hidden mx-auto mb-3">
            <img src="{{ item.image }}" alt="" class="transform transition duration-300 absolute w-full h-full object-cover object-center hover:scale-110">
          </div>
          <h4>
            <strong>{{ item.name }}</strong>
          </h4>
        </div>
      {% endfor %}
    </div>
  </div>

</section>