<section class="content-section container mx-auto py-6 px-4 bg-blue-800 text-white text-center" id="services">
  <div class="content-section-heading">
    <h3 class="text-yellow-400 mb-0">Services</h3>
    <h2 class="mb-5">What We Offer</h2>
  </div>
  <div class="row">
    {% for item in services %}
      <div class="mb-5">
        <div class="service-item w-1/3 pb-1/3 relative rounded-full overflow-hidden mx-auto mb-3">
          <img src="{{ item.image }}" alt="" class="transform transition duration-300 absolute w-full h-full object-cover object-center hover:scale-110">
        </div>
        <h4>
          <strong>{{ item.name }}</strong>
        </h4>
      </div>
    {% endfor %}
  </div>
</section>