<!-- Footer -->
<footer class="footer-area">
  <div class="container">
    <div class="">
      <div class="site-logo text-center py-4">
        <!-- <a href="#"
          ><img src="../../../assets/imgs/rooster.png" width="60px" alt="logo"
        /></a> -->
      </div>
      <div class="social text-center">
        <h5 class="text-uppercase">Connect with us!</h5>
        <a href="https://www.facebook.com/phcnolimit"
          ><i class="fab fa-facebook"></i
        ></a>
        <a href="https://github.com/camphan12993"
          ><i class="fab fa-github"></i
        ></a>
        <a href="https://twitter.com/CamPhanHuynh1"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
      <div class="copyrights text-center">
        <p class="para">
          Copyright ©2020 All rights reserved | Made by
          <a href="#"
            ><span style="color: var(--primary-color);">Cam Phan</span></a
          >
        </p>
      </div>
    </div>
  </div>
</footer>
