#contact {
  background-color: $primary;
  background-repeat: no-repeat;
  background-position: center;
  .section-heading {
    color: #fff;
  }
  #contactForm {
    .form-group {
      margin-bottom: 1.5rem;
      input {
        padding: 1.25rem;
      }
      textarea {
        padding: 1.25rem;
      }
      input.form-control {
        height: auto;
      }
    }
    .form-group-textarea {
      height: 100%;
      textarea {
        height: 100%;
        min-height: 10rem;
      }
    }
    .help-block {
      margin: 0;
    }
    .form-control {
      &:focus {
        border-color: #fed136;
        box-shadow: none;
      }
    }
  }
}
