<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{ title }}</title>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"/>
      <style>
      {% postcss %}
        {% include css/tailwind.css %}
      {% endpostcss %}
    </style> 
    {% capture js %}
      {% include js/main.js %}
    {% endcapture %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </head>
  <body>
    {% include shared/header %}
    <main>
      {{ content | safe }}
    </main>
    {% include shared/footer %}
  </body>
</html>
  </head>
</html>
