<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>{{ title }}</title>
    <link href="assets/css/style.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css"/>
    <link href="https://use.fontawesome.com/releases/v5.13.0/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet"/>

    {% capture js %}
      {% include js/main.js %}
    {% endcapture %}
    <script>
      {{ js | jsmin | safe }}
    </script>
  </head>
  <body>
    {% include shared/header %}
    <main>
      {{ content | safe }}
    </main>
    {% include shared/footer %}
  </body>
</html>
  </head>
</html>
